@import 'leaflet/dist/leaflet.css';
@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@fontsource/plus-jakarta-sans/300.css';
@import '@fontsource/plus-jakarta-sans/400.css';
@import '@fontsource/plus-jakarta-sans/500.css';
@import '@fontsource/plus-jakarta-sans/600.css';
@import '@fontsource/plus-jakarta-sans/700.css';
@import '@fontsource/noto-sans/400.css';
@import '@fontsource/noto-sans/500.css';
@import '@fontsource/noto-sans/700.css';
@import 'material-symbols';
@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;